<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 

  Copyright (c) 2008-2010 by the President and Fellows of Harvard College. All rights reserved.
  Profiles Research Networking Software was developed under the supervision of Griffin M Weber, MD, PhD.,
  and Harvard Catalyst: The Harvard Clinical and Translational Science Center, with support from the
  National Center for Research Resources and Harvard University.


  Code licensed under a BSD License. 
  For details, see: LICENSE.txt 
-->
<!-- Web Configuration for .netFramework 3.5-->

<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>   
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <!--<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>-->
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="ProfilesDB"/>
  <connectionStrings>
    <add name="ProfilesDB" connectionString="Data Source=[SERVER NAME HERE];Initial Catalog=[DB NAME HERE];User ID=[DB USER ID HERE];Password=[DB USER PWD HERE]" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
				expirationPollFrequencyInSeconds="60"
				maximumElementsInCacheBeforeScavenging="1000"
				numberToRemoveWhenScavenging="10"
				backingStoreName="inMemory" />
      <add name="Loading Scenario Cache Manager"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
				expirationPollFrequencyInSeconds="60"
				maximumElementsInCacheBeforeScavenging="1000"
				numberToRemoveWhenScavenging="10"
				backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ProfilesDB" />
    <!--<errorMail from="noreply@example.com" to="elmah@example.com" priority="high" />-->
  </elmah>
  <appSettings>  
    <!--<add key="DirectServiceURL"   value="http://[YourDomain]/[YourProfileSubWebName]/DirectService.aspx"/>
    <add key="DirectPopulationType" value="[Description of the population (e.g., faculty, staff, etc.) loaded into your instance of Profiles.]"/>
    <add key="DirectQueryTimeout" value="15"/>-->
    
    <add key="URLBase" value="http://[Profiles Website Name Here]/"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
    <add key="ConnectsOrgId" value="4"/>
    <add key="DebugMode" value="false"/>
    <add key="HomePageUrl" value="http://[Profiles Website Name Here]/Home.aspx"/>
    <add key="ErrorToEmail" value=""/>
    <add key="ErrorCcEmail" value=""/>
    <add key="ErrorFromEmail" value=""/>
    <add key="Port" value="25"/>
    <add key="localHost" value="localhost"/>
    <add key="ProdHost" value="localhost"/>

    <add key="TicketApp" value=""/>
    <add key="TicketKey" value=""/>
    <add key="TicketPostUrl" value=""/>
    <add key="LoginURL" value="http://[Profiles Website Name Here]/login.aspx"/>
    <add key="ConnectsLoginURL" value="http:[Profiles Website Name Here]/Login.aspx"/>
    <!--<add key="LoginURL" value="Login.aspx"/>-->

    <add key="EmailImageFontFamilyName" value="arial, sans-serif"/>
    <add key="EmailImageFontSize" value="12"/>
    <add key="StaticElementCacheDuration" value="120"/>
    <add key="SpotlightCacheDuration" value="1"/>
    <add key="LongCacheDuration" value="240"/>
    <add key="ProfileProblemText" value=""/>
    <add key="TwoColBackground" value="passive_back_alt.gif"/>
    <add key="TwoColWidth" value="767"/>
    <add key="ThreeColBackground" value="passive_back.gif"/>
    <add key="ThreeColWidth" value="617"/>
    <add key="AfterLogoutURL" value="http://[Profiles Website Name Here]/search.aspx"/>
    <add key="DefaultPersonImageURL" value="http://[Profiles Website Name Here]/images/photobigconf.jpg"/>
    <add key="IsSecure" value="false"/>
    <add key="ProfileQueryXSD" value="http://[Profiles Website Name Here]/schema/Profiles.xsd"/>
    <add key="EnforceQuerySchema" value="false"/>
    <add key="ProfileResponseXSD" value="http://[Profiles Website Name Here]/schema/PersonList.xsd"/>
    <add key="EnforceResponseSchema" value="false"/>
    <add key="GoogleMapCenterLatitude" value="42.337526"/>
    <add key="GoogleMapCenterLongitude" value="-71.104536"/>
    <add key="ProfileSearchDefaultColumns" value="Department"/>
    <add key="HideInstitutionSelectionForSearch" value="false"/>
    <add key="HideInstitutionSelectionForMiniSearch" value="false"/>
    <add key="HideDivisionSelectionForSearch" value="false"/>    
    <add key="HideDivisionSelectionForMiniSearch" value="false"/>    
    <add key="HideDepartmentSelectionForSearch" value="false"/>
    <add key="HideDepartmentSelectionForMiniSearch" value="false"/>
    <add key="HMS_CommonAssets_Header_URL" value="header.txt"/>
    <add key="HMS_CommonAssets_Footer_URL" value="false"/>
    <add key="NetworkBrowserService" value="http://[NETWORK SERVICE Site Name Here]/NetworkBrowserService.svc/profiles/"/>
    <add key="EnableHideAddressFunctionality" value="true" /> 
    <add key="EnableHideEmailFunctionality" value="true" /> 
    <add key="LogService" value="false"/>  

    <!-- Profiles OpenSocial Extension by UCSF -->
    <add key="OpenSocialURL" value="http://[Profiles Machine Name Here]/shindig"/>
    <add key="OpenSocialTokenService" value="[Profiles Machine Name Here]:8777"/>
    <add key="OpenSocialDevPassword" value="[SECRET BUT NOT SUPER SECRET]"/>

  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <sessionState mode="InProc"></sessionState>
    <pages autoEventWireup="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxtoolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="Cobalt" assembly="CobaltSoftware.Foundation.Web" namespace="CobaltSoftware.Foundation.Web"/>
      </controls>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms" >
      <forms loginUrl="login.aspx"
        name=".ASPXFORMSAUTH"/>
    </authentication>

    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add applicationName="http://[Profiles Website Name Here]/" name="CustomRoleProvider" type="CustomRoleProvider"/>
      </providers>
    </roleManager>

    <machineKey
      validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE"
      decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F"
      validation="SHA1" />

    <membership defaultProvider="ProfilesDBMembershipProvider" userIsOnlineTimeWindow="60">
      <providers>
        <add
          name="ProfilesDBMembershipProvider"
          type="ProfilesDBMembershipProvider"
          passwordFormat="Clear"
          enablePasswordRetrieval="true"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          writeExceptionsToEventLog="true" />
        <add
          name="ProfilesHMSMembershipProvider"
          type="ProfilesHMSMembershipProvider"
          writeExceptionsToEventLog="true" />
      </providers>
    </membership>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
    <trust level="Full"/>
    <profile defaultProvider="SQLProfileProvider">
      <providers>
        <clear />
        <add name="SQLProfileProvider" connectionStringName="ProfilesDB" applicationName="/" type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
      <properties>

        <!-- UserId is the internal integer equivalent of the authenticated user logging into the web site -->
        <add name="UserId" type="int" defaultValue="0" allowAnonymous="true"/>
        
        <!-- UserName is the account of the authenticated user logging into the web site -->
        <add name="UserName" type="string" defaultValue="" allowAnonymous="true"/>
        
        <!-- HasProfile tracks if the authenticated user also has a profile on the web site -->
        <add name="HasProfile" type="bool" defaultValue="false" allowAnonymous="true"/>
        
        <!-- The full display name of the authenticated user-->
        <add name="DisplayName" type="string" defaultValue="" allowAnonymous="true"/>

        <!-- UserId is the internal integer equivalent of the authenticated user logging into the web site -->
        <add name="ProfileId" type="int" defaultValue="0" allowAnonymous="true"/>
        
      </properties>
    </profile>
    
    <anonymousIdentification enabled="true"
               cookieName=".ASPXANONYMOUS"
               cookieTimeout="1"
               cookiePath="/"
               cookieRequireSSL="false"
               cookieSlidingExpiration="true"
               cookieProtection="Encryption"
               cookieless="UseCookies"  />
    
    <customErrors mode="On" defaultRedirect="ErrorPage.aspx">
    </customErrors>

    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <exceptionHandling>
    <exceptionPolicies>
      <add name="Global Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Application Message Handler" type="ExceptionHandlingQuickStart.AppMessageExceptionHandler, ExceptionHandlingWithLoggingQuickStart"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Log Only Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
            <exceptionHandlers>
              <add
								logCategory="Default Category"
								eventId="100"
								severity="Error"
								title="Profiles Application Exception"
								priority="0"
								formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
								name="Logging Handler"
								type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Notify Policy">
        <exceptionTypes>
          <add name="BusinessLayerException" type="Connects.Profiles.BusinessLogic.BusinessLayerException, Connects.Profiles.BusinessLogic" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add
								logCategory="Default Category"
								eventId="100"
								severity="Error"
								title="Profiles Application Exception"
								priority="0"
								formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
								name="Logging Handler"
								type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							/>
              <add name="Replace Handler"
								type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
								exceptionMessage="An error occurred while processing your request. Please contact technical support using the following identifier: {handlingInstanceID}"
								replaceExceptionType="System.ApplicationException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>

        </exceptionTypes>
      </add>
      
      <add name="Data Error Notify Policy">
        <exceptionTypes>
          <add name="DataLayerException" type="Connects.Profiles.DataAccess.DataLayerException, Connects.Profiles.DataAccess" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add
								logCategory="Data Event"
								eventId="100"
								severity="Error"
								title="Profiles Application Exception"
								priority="0"
								formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
								name="Logging Handler"
								type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							/>
              <add name="Replace Handler"
								type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
								exceptionMessage="An error occurred while processing your request. Please contact technical support using the following identifier: {handlingInstanceID}"
								replaceExceptionType="System.ApplicationException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>

        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <loggingConfiguration defaultCategory="Default Category" tracingEnabled="false">
    <logFilters>
      <add
				name="Category"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
				categoryFilterMode="AllowAllExceptDenied">
        <categoryFilters />
      </add>
      <add
				name="Priority"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
				minimumPriority="0"
					/>
    </logFilters>

    <categorySources>
      <add
				name="Default Category"
				switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </add>
      <add
				name="Tracing"
				switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners>
          <add name="Event Log Destination"/>
        </listeners>
      </errors>
    </specialSources>
    <listeners>
      <add name="Event Log Destination"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				source ="Enterprise Library Logging"
				formatter="Default Formatter"
				/>
      <add name="Flat File Destination"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
            listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
				fileName ="trace.log"
				/>
    </listeners>
    <formatters>
      <add
				name="Default Formatter"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
				template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}"
				/>
    </formatters>
  </loggingConfiguration>

</configuration>

